<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PriceAdjustment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PriceAdjustment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PriceAdjustment.Properties.Settings>
      <setting name="APP_CODE" serializeAs="String">
        <value />
      </setting>
      <setting name="APP_AUTH" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_SC_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_DYH_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_SC_PWD" serializeAs="String">
        <value>lyc2010</value>
      </setting>
      <setting name="DB_DYH_UID" serializeAs="String">
        <value>sdkdchkj</value>
      </setting>
      <setting name="DB_DYH_PWD" serializeAs="String">
        <value>S2D0C0H6</value>
      </setting>
      <setting name="DB_TARGET_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_SC_STR" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}; Jet OLEDB:Database Password={1}</value>
      </setting>
      <setting name="SC_PRICE_OLD" serializeAs="String">
        <value>1.18</value>
      </setting>
      <setting name="DYH_PRICE_NEW" serializeAs="String">
        <value>0.6102</value>
      </setting>
      <setting name="SC_PRICE_NEW" serializeAs="String">
        <value>0.6102</value>
      </setting>
      <setting name="DB_DYH_MDW" serializeAs="String">
        <value />
      </setting>
      <setting name="PRICE_DATA" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_TARGET_PATH_DYH" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_TARGET_PATH_SC" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Price_StartMonth" serializeAs="String">
        <value />
      </setting>
      <setting name="Price_MonthCount" serializeAs="String">
        <value>12</value>
      </setting>
    </PriceAdjustment.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PriceAdjustment.Properties.Settings>
      <setting name="DB_DYH_STR" serializeAs="String">
        <value>Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}; Jet OLEDB:System Database={1}; User Id={2}; Password={3}</value>
      </setting>
      <setting name="Help" serializeAs="String">
        <value>操作流程：
  1. 选取修改后的数据文件保存地址，修改后的MDB文件保存在此
  2. 多用户配置：
      1）选择对应MDB MDW文件
      2）配置价格
      3）选择是否删除指定日期前数据
  3.商场配置
      1）选择MDB文件
      2）配置价格
      3）选择是否删除指定日期前数据
  4.按【执行】按钮，结果看提示</value>
      </setting>
    </PriceAdjustment.Properties.Settings>
  </applicationSettings>
</configuration>